

<section class="blog-section">
  <h1 class="page-title">Articles</h1>

  
  <div class="articles">
    <article class="article">
      {{ #each blog }}
      <div class="article__header">
        <h2 class="article__title">{{ this.title }}</h2>
        <p class="article__date">{{ this.date }}</p>
      </div>
      <div class="article__content">
        <p>{{ this.copy }}</p>
        </div>
        <div class="article__tags">
          <a class="btn html tag" href="/">{{ tags.one }}</a>
          <a class="btn btn-outlined-primary css tag" href="/">{{ tags.two }}</a>
        </div>
        {{ /each }}
    </article>
  </div>
</section>