
<article>

  <div class="blogPost__header">
    <h2 class="blogPost-title">{{blogPost.title}}</h2>
    <span class="blogPost__date">{{myToDateString blogPost.createdAt}}</span>
    <span class="blogPost__view">{{blogPost.views}}</span>
  </div>

  <div class="blogPost__content">
    <p>{{{blogPost.body}}}</p>
  </div>

  <div class="blogPost__footer">
      {{#each blogPost.tags}}
      <a class="btn html tag" href="/">{{this}}</a>
      {{/each}}
    </div>

</article class="blogPost">



