<section class="blogPosts-section">
  <div class="blogPosts-wrapper">
    <h2 class="page-title">Blog Posts</h2>
    <div class="blogPosts">
      {{#each blogPosts}}
        <article class="blogPost">

          <div class="blogPost__header">
            <a href="/blog/{{this.slug}}"><h3 class="blogPost__title">{{this.title}}</h3></a>
            
            <div class="blogPost__meta">
              <span>
                <span class="blogPost__date"> {{myToDateString this.createdAt}}</span>
                <span class="blogPost__views"> {{this.views}}12 likes!</span>
              </span>
              <span class="blogPost__tags">
                {{#each this.tags}}
                <a class="btn tag" href="/">{{this}}</a>
                {{/each}}
              </span>
            </div>

          </div>

          <div class="blogPost__content">
            <p>{{this.description}}</p>
          </div>
          
        </article>
      {{/each}}
    </div>
  </div>
</section>





