<section class="blogPosts-section">
  <div class="blogPosts-wrapper">
    <h2 class="page-title">Blog Posts</h2>
    <div class="blogPosts">
      {{#each blogPosts}}
        <article class="blogPost">
          <div class="blogPost__header">
            <a href="/blog/{{this.slug}}"><h3 class="blogPost__title">{{this.title}}</h3></a>
            <p class="blogPost__date">{{myToDateString this.createdAt}}</p>
          </div>
          <div class="blogPost__content">
            <p>{{this.description}}</p>
          </div>
          <div class="blogPost__footer">
            {{#each this.tags}}
            <a class="btn tag" href="/">{{this}}</a>
            {{/each}}
          </div>
        </article>
      {{/each}}
    </div>
  </div>
</section>





